{% extends "base/layout.twig.html" %}

{% block content %}

<div class="row">
    <div class="col-md-5 mx-auto">
        <div class="card card-body bg-light mt-5">
            
            <h2>Login</h2>
            <p>Bitte dieses Formular ausfüllen für einen Login</p>
            <form action="{{ urlroot }}/Users/login" method="post">

    
                    <div class="form-group">
                        <label for="email">Email: <sup>*</sup></label>
                        {% if data.email_err is empty %}
                        <input type="email" name="email" value="{{ data.email }}" class="form-control form-control-lg">
                        {% else %}
                        <input type="email" name="email" value="{{ data.email }}" class="form-control form-control-lg is-invalid">
                        <span class="invalid-feedback"> {{ data.email_err }}</span>
                        {% endif %}
                    </div>
    
    
                    <div class="form-group">
                        <label for="password">Passwort: <sup>*</sup></label>
                        {% if data.password_err is empty %}
                        <input type="password" name="password" value="{{ data.password }}" class="form-control form-control-lg">
                        {% else %}
                        <input type="password" name="password" value="{{ data.password }}" class="form-control form-control-lg is-invalid">
                        <span class="invalid-feedback"> {{ data.password_err }}</span>
                        {% endif %}
                    </div>
    

                <div class="row">
                    <div class="col">
                        <input type="submit" value="Login" class="btn btn-success btn-block">
                    </div>
                    <div class="col">
                        <a href="{{ urlroot }}/Users/register" class="btn btn-light btn-block">Noch keinen Account? Zur Register-Page</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}