{% extends "base/layout.twig.html" %}

{% block content %}

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body bg-light mt-5">
            <h2>Benutzer erstellen</h2>
            <p>Bitte dieses Formular ausfüllen für eine Benutzererstellung</p>
            <form action="{{ urlroot }}/Users/register" method="post">

                <div class="form-group">
                    <label for="name">Name: <sup>*</sup></label>

                    {% if data.name_err is empty %}
                    <input type="text" name="name" value="{{ data.name }}" class="form-control form-control-lg">
                    {% else %}
                    <input type="text" name="name" value="{{ data.name }}" class="form-control form-control-lg is-invalid">
                    <span class="invalid-feedback"> {{ data.name_err }}</span>
                    {% endif %}

                </div>

                <div class="form-group">
                    <label for="email">Email: <sup>*</sup></label>
                    {% if data.email_err is empty %}
                    <input type="email" name="email" value="{{ data.email }}" class="form-control form-control-lg">
                    {% else %}
                    <input type="email" name="email" value="{{ data.email }}" class="form-control form-control-lg is-invalid">
                    <span class="invalid-feedback"> {{ data.email_err }}</span>
                    {% endif %}
                </div>


                <div class="form-group">
                    <label for="password">Passwort: <sup>*</sup></label>
                    {% if data.password_err is empty %}
                    <input type="password" name="password" value="{{ data.password }}" class="form-control form-control-lg">
                    {% else %}
                    <input type="password" name="password" value="{{ data.password }}" class="form-control form-control-lg is-invalid">
                    <span class="invalid-feedback"> {{ data.password_err }}</span>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="confirm_password">Passwort(Bestätigung): <sup>*</sup></label>
                    {% if data.name_err is empty %}
                    <input type="password" name="confirm_password" value="{{ data.confirm_password }}" class="form-control form-control-lg">
                    {% else %}
                    <input type="password" name="confirm_password" value="{{ data.confirm_password }}" class="form-control form-control-lg is-invalid">
                    <span class="invalid-feedback"> {{ data.confirm_password_err }}</span>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col">
                        <input type="submit" value="Register" class="btn btn-success btn-block">
                    </div>
                    <div class="col">
                        <a href="{{ urlroot }}/Users/login" class="btn btn-light btn-block">Schon ein Account erstellt? Zur Login-Page</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}