/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	min-height: 60px;
	background-color: #f5f5f5;
	padding: 1rem;
}

/* Custom page CSS
  -------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
	padding: 60px 15px 0;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}

.heart {
	animation: heart 7000ms infinite;
}

.fire * {
	animation: fire 5500ms infinite;
}

@keyframes heart {
	0%,
	40%,
	100% {
		transform: scale(1);
	}
	20%,
	60%,
	80% {
		transform: scale(1.2);
	}
}

@keyframes fire {
	0% {
		fill: #ff8000;
	}
	20%,
	60% {
		fill: #ff6200;
	}
	40% {
		fill: #ffbb00;
	}
	80% {
		fill: #ff3700;
	}
	100% {
		fill: #ff0000;
	}
}

@media only screen {
	html {
		scroll-behavior: smooth;
	}
}
